@media only screen and (max-width: 600px) {
  
    .nav-bar{
        width:100vw;
        font-size:10px;
    }
    .upperContainer{
        background: rgb(31, 31, 31);
        color: white;
        width:100vw;
        height: 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding:0px 5px;
        font-size:8px;
      }
      .middleContainer{
        width:100vw;
        justify-content: space-between;
        align-items: center;
        height: 45px;
      }
      .lowerContainer{
        width:100vw;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #currency{
        font-size:10px;
        color: #B3B3B3;
        padding: 5px;

      }
      #currency option{
        font-size: 5px;
      }
      .left{
        color: #B3B3B3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
      }
      .right{
        display: flex;
        flex:1;
        justify-content: space-around;
        align-items: center;
        color: #B3B3B3;
       
      }
      .map-icon{
        width: 10px;
      }
      .brand-logo{
        width: 60px;
        height: 15px;
        margin: auto 5px;
      }
      .middle-left{
        flex:1;
      }
      .middle-right{
       flex: 1;
       display: flex;
       justify-content: center;
      }
      .shopping-cart-icon{
        width: 15px;
        height: 15px;
      }
      .head{
        font-size:10px;
      }
      .totalAmount{
        font-size:10px;

      }
    
      .middle-middle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2;
      }
      .search-input{
        width: 120px;
        height: 24px;
        font-size:9px;
      }
      .btn-search{
        width: 40px;
        padding: 5px;
        font-size:8px;
        height: 24px;
        margin-right: 5px;
      }

      .lower-right{
        display: none;
      }
      .lower-left{
        font-size: 10px;
        display: flex;
        justify-content:center;
        align-items: center;
      }
       
      .categories{
        display: none;
      }
      .main-menu{
        display: flex;
        height: 25px;
        color: grey;
        justify-content:space-between;
        align-items: center;
        font-size:11px;
        margin-top: 0px;
        width: 580px;
        margin-left: -210px;
      }
      .menu-btn-main:active{
        color: green;
      }
      .gr{
        display: none;
      }
     
      .categories option{
        display: none;
      }
     
      .hamburger-menu-icon{
        width: 0px;
      }
      .phone-call-icon{
        width: 8px;
        height: 8px;
      }
      .menu-btn-main{
        width:175px !important;
      }
      .bg-image{
        min-width: 70vw;
        max-width: 85vw;
        min-height: 30vh;
        max-height: 40vh;
      }
      .content-bg{
        height: 25vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: -25px;
      }
      .bgt{
        display: none;
      }
      .title-bg{
        color: rgb(73, 73, 73);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
        font-size: 12px;
        line-height: 25px;
        width: 130px;
        text-align: center;
        margin-left: -15px;
        margin-bottom: -7px;
        display: none;
      }
      .sub-title{
        font-size: small;
        font-weight: 900;
        text-align: center;
        display: none;
      }
      .btn-bg-image-shop-now{
        background: #00B207;
        color: white;
        padding: 4px 5px;
        border-radius: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
      }
      .carousel-indicators [data-bs-target] {
        width: 10px !important;
        height: 2px !important;
        border: 1px solid #00B207 !important;
        background: green !important;
        border-radius: 10px;
      }
      .bggg{
        justify-content: center;
        font-size:large;
        width: auto;
      }
      .productSmall{
        width: 80vw;
        height:auto;
        box-shadow: 5px 5px 15px 5px grey;
        flex: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin: 18px;
        font-size: small;
        padding: 2px;
        padding-top: 0;
      }
      
      .productImage{
        width: fit-content;
        height: 190px;
        margin: 0;
        padding: 0;
      }
      .cardPrice{
        color: rgba(56, 56, 56, 0.904);
        font-weight: 900;
      }
      .cardQuantity{
        color: rgb(94, 92, 92);
      }
      .cardTitle{
        color:rgba(56, 56, 56, 0.904);
        font-weight: 900;
      }
      .rating{
        display: flex;
        width: auto;
        justify-content: space-between;
      }


      .footer-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 3px;
        background: #002603;
      }
      .center-footer{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        background: #002603;
        color: white;
      }
      footer h3, h2{
        color: white;
        font-size: x-small;
        display: flex;
        width: 180px;
        margin: 5px;
        text-align: center;
      }
      footer ul li{
        font-size: 7px;
        margin: auto;
      }
      footer pre{
        font-size: 7px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .contactInfo{
        font-size: xx-small;
        display: none;
      }
      .rightt, .leftt{
        display: none;
      }
      .icons-footer{
        display: none;
      }
  }

